*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;;
    font-family: 'Oswald', sans-serif;
}

::-webkit-scrollbar{
    width: 13px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #cb2317;
}

a{
    text-decoration: none;
}

h1, h2, p{
    color: white;
}

body{
    background-color: #25282a;
}

.container{
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

header{
    height: 65px;
    width: 100%;
    background-color: #fff568;
    position: fixed;
    z-index: 0;
}

.logo{
    width: 220px;
    margin: auto;
    padding-left: 15px;
}

.header-left{
    float: left;
    margin-top: 11px;
}

.header-right{
    float: right;
    margin-top: 19px;
    margin-right: 15px;
    position: relative;
    /* display: inline-block; */
    cursor: pointer;
}

.menu{
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.menu a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu a:hover{
    background-color: #ddd;
    font-weight: bolder;
}

.header-right:hover .menu{
    display: block;
    
}

.header-right:hover{
    background-color: aquamarine;
    transition: 300ms;
}

.drop_button{
    margin-right: auto;
}

.cover{
    background-image: url(/Assets/temp[back\ 50\ opa.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /* width: 1500px; */
    height: 720px;
    /* padding-bottom: 270px; */
    /* align-items: center; */
}

.cover h1{
    padding-top: 200px;
    font-size: 100px;
}

.button{
    border: 2px solid #fff568;
    width: 270px;
    padding-bottom: 2px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.button h2{
    color:#fff568;
}

.button:hover{
    background-color:  #fff568;
    transition: ease-in-out 200ms;
}

.button h2:hover{
    color: black;
    transition: 400ms;
}

.top{
    padding-top: 65px;
}

.main-title{
    padding-top: 40px;
    background-color: #383e43;
    text-align: center;
    font-size: 60px;
}

.main{
    padding: 50px 15px;

    display: flex;

    background-color: #383e43;
    /* border-bottom: 5px solid #dee7ec; */
}

.intro{
    padding-left: 90px;
}

.intro-para{
    font-size: 30px;
}

.home_agents{
    margin-left: auto;
}

.intro p{
    text-align: center;
    padding-top: 40px;
}

.main img{
    width: 600px;
}

.maps{
    padding-top: 50px;
    background-color: #383e43;
    justify-content: center;
    text-align: center;
}

.maps img{
    width: 900px;
}

.maps p{
    font-size: 28px;
    padding-top: 20px;
}

.join{
    background-color: #383e43;
    text-align: center;
    padding: 250px 0;
    font-size: 25px;
}

footer{
    height: 50px;
    width: 100%;
    background-color: #191a1c;
    color: white;
}

.bottom{
    display: flex;
    font-size: 25px;
    margin-top: auto;
}

.bottom p{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
}

.contacts{
    margin-top: 10px;
    margin-left: 10px;
}

.contacts img{
    width: 30px;
}
